<p-dialog *ngIf="booking" header="Add Booking" [(visible)]="visible" [style]="{ width: '26rem' }"
    (onHide)="hideDialog()">
    <form [formGroup]="bookingForm" (ngSubmit)="saveBooking(booking)">
        <div class="flex flex-column mb-3">
            <div class="flex align-items-center gap-3">
                <label for="id_customer" class="font-semibold w-7rem">mã khách </label>
                <input pInputText id="id_customer" class="flex-auto" autocomplete="off"
                    [(ngModel)]="booking.id_customer" formControlName="id_customer" />
            </div>
            <small class="p-error block"
                *ngIf="bookingForm.get('id_customer')?.errors?.['required'] && bookingForm.get('id_customer')?.dirty">không
                được để trống</small>
            <small class="p-error block"
                *ngIf="bookingForm.get('id_customer')?.errors?.['pattern'] && bookingForm.get('id_customer')?.dirty">
                Cần cung cấp đúng cccd của khách hàng (12 chữ số) </small>
        </div>

        <div class="flex flex-column mb-3">
            <div class="flex align-items-center gap-3">
                <label for="id_room" class="font-semibold w-7rem">mã phòng</label>
                <input pInputText id="id_room" class="flex-auto" autocomplete="off" [(ngModel)]="booking.id_room"
                    formControlName="id_room" />
            </div>
            <small class="p-error block"
                *ngIf="bookingForm.get('id_room')?.errors?.['required'] && bookingForm.get('id_room')?.dirty">không được
                để trống</small>
            <small class="p-error block"
                *ngIf="bookingForm.get('id_room')?.errors?.['pattern'] && bookingForm.get('id_room')?.dirty"> Cần cung
                cấp đúng mã phòng (từ 3 đến 20 chữ số)</small>
        </div>

        <div class="flex flex-column mb-3">
            <div class="flex align-items-center gap-3">
                <label for="start" class="font-semibold w-7rem">day start</label>
                <p-calendar [(ngModel)]="booking.start" [showIcon]="true" dateFormat="yy/mm/dd"
                    [style]="{'width':'100%'}" appendTo="body" formControlName="start"> </p-calendar>
            </div>
            <small class="p-error block"
                *ngIf="bookingForm.get('start')?.errors?.['required'] && bookingForm.get('start')?.dirty">không
                được để trống</small>
        </div>

        <div class="flex flex-column mb-5">
            <div class="flex align-items-center gap-3">
                <label for="end" class="font-semibold w-7rem">day end</label>
                <p-calendar [(ngModel)]="booking.end" [showIcon]="true" dateFormat="yy/mm/dd" [style]="{'width':'100%'}"
                    appendTo="body" formControlName="end"></p-calendar>
            </div>
            <small class="p-error block"
                *ngIf="bookingForm.get('end')?.errors?.['required'] && bookingForm.get('end')?.dirty">không
                được để trống</small>
        </div>

        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (onClick)="hideDialog()" />
            <p-button label="Save" (onClick)="saveBooking(booking)" />
        </div>
    </form>
</p-dialog>
<p-toast></p-toast>