<h3>Quản lý phòng</h3>
<div class="grid">
  <div class="col-12">
    <p-card header="Bộ lọc tìm kiếm">
      <div class="grid">
        <div class="col-2 i">
          <span class="p-float-label">
            <input id="room" type="text" pInputText [(ngModel)]="searchRoom.room"
              [formControl]="searchForm.controls['room']">
            <label for="room">Tìm kiếm mã phòng</label>
          </span>
          <small class="p-error block"
            *ngIf="searchForm.get('room')?.errors?.['pattern'] && searchForm.get('room')?.dirty">chỉ được nhập giá trị
            là số </small>
        </div>
        <div class="col-2 i">
          <span class="p-float-label">
            <input id="name" type="text" pInputText [(ngModel)]="searchRoom.name">
            <label for="name">Tìm loại phòng</label>
          </span>
        </div>
        <div class="col-2 i">
          <span class="p-float-label">
            <input id="status" type="text" pInputText [(ngModel)]="searchRoom.status">
            <label for="status">Trạng thái</label>
          </span>
        </div>
        <div class="col-2 i">
          <span class="p-float-label">
            <input id="value" type="text" pInputText [(ngModel)]="searchRoom.value">
            <label for="value">Tìm giá</label>
          </span>
        </div>
        <div class="col-2 i">
          <span class="p-float-label">
            <input id="stay" type="text" pInputText [(ngModel)]="searchRoom.stay"
              [formControl]="searchForm.controls['stay']">
            <label for="stay">Tìm thời hạn</label>
          </span>
          <small class="p-error block"
            *ngIf="searchForm.get('stay')?.errors?.['pattern'] && searchForm.get('stay')?.dirty">chỉ được nhập giá trị
            là số </small>
        </div>
        <div class=" col -4 flex justify-content-end gap-4 ">
          <p-button icon="pi  pi-sync" (onClick)="reset()"></p-button>
          <p-button label="Tìm kiếm" icon="pi pi-search" (onClick)="search()"></p-button>
        </div>
      </div>
    </p-card>
  </div>

  <div class="spinner-overlay" *ngIf="isLoading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </div>

  <div class="col-12 mt-3">
    <div class="flex justify-content-between align-items-center mb-3">
      <h3>Danh sách phòng</h3>
      <p-button label="Thêm mới" icon="pi pi-plus" (onClick)="openAddModal()"></p-button>
    </div>
    <div *ngIf="noData && !isLoading" class="no-data-message">Không có dữ liệu</div>
    <p-table *ngIf="!noData && !isLoading" [value]="roomList">
      <ng-template pTemplate="header">
        <tr>
          <th>STT</th>
          <th>Mã phòng</th>
          <th>Loại phòng</th>
          <th>Giá tiền</th>
          <th>Trạng thái</th>
          <th>Thời hạn(ngày)</th>
          <th>Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-room let-i="rowIndex">
        <tr>
          <td>{{(searchRoom.page) * searchRoom.size + i + 1}}</td>
          <td>{{room.room}}</td>
          <td>{{room.name}}</td>
          <td>{{room.value | currency:'VND':'symbol':'1.0-0'}}</td>
          <td>{{room.status}}</td>
          <td>{{room.stay}}</td>
          <td>
            <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-success mr-2"
              (onClick)="openUpdateModal(room)"></p-button>
            <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger"
              (onClick)="deleteRooms(room.id)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator *ngIf="!noData && !isLoading" (onPageChange)="onPageChange($event)" [rows]="searchRoom.size"
      [totalRecords]="totalItems" [first]="searchRoom.page * searchRoom.size" [showFirstLastIcon]="false" />
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
<app-room-update [visible]="showUpdateModal" [room]="selectedRoom" (visibleChange)="handleCloseUpdate($event)"
  [isLoading]="isLoading" (loadingChange)="isLoading = $event"></app-room-update>
<app-room-add [visible]="showAddModal" (visibleChange)="handleDialogClose($event)" [isLoading]="isLoading"
  (loadingChange)="isLoading = $event"></app-room-add>